.reviewImg {
  filter: grayscale(100%);
}

.reviewContainer {
  background-color: rgba(0, 0, 0, 0.5);
}

.reviewBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviewPhotos {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

.reviewPhotos:hover {
  filter: none;
}
